<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>blog</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/blog.css" />
	</head>

	<body>
		<div th:include="common/header::header"></div>
		<!-- Page Content -->
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="blog-title">
								<a href="#">测试</a>
							</div>
							<div class="blog-statistics">
								<span><i class="fa fa-eye" aria-hidden="true"></i> 7</span> .
								<span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 0</span> .
								<span><i class="fa fa-comments-o" aria-hidden="true"></i> 0</span> .
								<span class="glyphicon glyphicon-time"></span> 发表于 2017-04-19
							</div>
							<hr/>
							<div class="well">
								测试
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="blog-title">
								<a href="#">测试</a>
							</div>
							<div class="blog-statistics">
								<span><i class="fa fa-eye" aria-hidden="true"></i> 7</span> .
								<span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 0</span> .
								<span><i class="fa fa-comments-o" aria-hidden="true"></i> 0</span> .
								<span class="glyphicon glyphicon-time"></span> 发表于 2017-04-19
							</div>
							<hr/>
							<div class="well">
								测试
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="blog-title">
								<a href="#">测试</a>
							</div>
							<div class="blog-statistics">
								<span><i class="fa fa-eye" aria-hidden="true"></i> 7</span> .
								<span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 0</span> .
								<span><i class="fa fa-comments-o" aria-hidden="true"></i> 0</span> .
								<span class="glyphicon glyphicon-time"></span> 发表于 2017-04-19
							</div>
							<hr/>
							<div class="well">
								测试
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4>Blog Search</h4>
							<div class="input-group">
								<input type="text" class="form-control" />
								<span class="input-group-btn">
                        	<button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
								</button>
								</span>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<h4>Blog Categories</h4>
							<div class="row">
								<div class="col-lg-12">
									<ul class="list-unstyled">
										<li><a href="/category/0">默认</a></li>
										<li><a href="/category/1">测试</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:include="common/footer::footer"></div>
		</div>
	</body>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/blog.js"></script>

</html>